
.global {
    background-color: rgb(20, 83, 166);
}


h1, h2, h3 { 
    color: #FFF6E2;
    font-size: medium;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main article section span{
    font-weight: 400;
    font-size: medium;
    font-size: 2rem;
    color: #FFF6E2;

}

header {
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;
    
}


header nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 1.2rem;

}
header nav div strong {
    color: #FFF8F8;
    font-size: small;
      
}
header nav div p {
    color: #FFF8F8;
    margin-right: 1.2rem;
    padding-top: 0.7rem;
}


article  {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20;
    flex-direction: column;
    margin-bottom: 20px;
}

.image-home {
    @media (min-width: 600px){
        margin: 0;
        width: 40vw;     
        height: 20vh;
        }
}
.image-home {
   margin-bottom: -10px;
}


.login {
    display: flex;
    justify-content:space-between;
    padding-top: 0.6rem;
    z-index: 0;
}

.login-icon {
    width:2.5rem;
    height:2.5rem;
    margin-top: 5px;
}

.formulario {
  
    margin-top: 8%;


    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    
}