
.global {
    background-color: rgb(20, 83, 166);
}

.logo {
    width: 80%;
}
label, a { 
    color: #FFF6E2;
    font-size: medium;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;
    
}


header nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 1.2rem;

}
.input-config::placeholder{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 29px;
line-height: 34px;

color: rgba(0, 0, 0, 0.3);
}

.input-config {

    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 11px;
    padding: 2rem;
    }
    
main form p {
    color: #FFFFFF;
}


main form p a {
    color: rgba(10, 11, 24, 0.568);
}
main form p a:hover {
    color: rgba(10, 11, 24, 0.568);
}

.btn-primary {
    background: #F59010;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
    border-radius: 11px;
    transition: 0.5s;
}
.btn-primary:hover {
    background: #f59210ce;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}

main form button a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
main form button a:hover {
    color: #FFFFFF;
}

main form div input {
    height: 2.8rem;
}

    main form div label {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        line-height: 45px;
        width: 400px;
        margin-top: 1rem;
        /* identical to box height */
        color: #FFFFFF;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      
      }
.arrow-icon {
    width:2.5rem;
    height:2.5rem;
}


.formulario {
    outline: none;
}
.form-check-label {
margin: 0;
padding: 0;
width: auto;
}
