
.global {
    background-color: rgb(20, 83, 166);
}

.logo {
    width: 80%;
}

h1, h2, h3 { 
    color: #FFF6E2;
    font-size: medium;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;
    
}


header nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 1.2rem;

}


.input-config {
    background: #96D9CC;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    border-radius: 11px;
    padding: 2rem;
    }

    main form div label {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        line-height: 45px;
        width: 400px;
        margin-top: 1rem;
        /* identical to box height */
        color: #FFFFFF;
      
      }
.arrow-icon {
    width:2.5rem;
    height:2.5rem;
}


.formulario {
    outline: none;
}
.form-check-label {
margin: 0;
padding: 0;
width: auto;
}
