@media only screen and (min-width: 1240px){
  main form div label {
    width: 1240px;
  }
  .formulario {
    margin-left: 8%;
  }
  main form p {
    text-align: start;
}


} 

@media only screen and (max-width: 780px) {
    nav{
        margin-left: 6%;
        margin-right: 5%;
    }
    main form div label {
      font-size: 28px;
      line-height: 35px;
    }
  
      header nav div strong {
        color: #FFF8F8;
      }
    
    .logo {
        width: 10.5rem;
        padding-top: 1rem;
        
    }
    .arrow-icon {
        width:2rem;
        height:2rem;
        margin-top: 1rem;
    
    }

  .formulario {
        margin-top: 20%;
        max-width: 80%;
        margin-left: 10%;
        align-items: center;
        justify-content: center;
        outline: none;
    }
    }

@media only screen and (max-width: 420px){
    main form div label {
      font-size: 22px;
      line-height: 25px;
    }

  .formulario {
        margin-top: 15%;
        max-width: auto;
        margin-left: 9%;
        align-items: center;
        justify-content: center;
        outline: none;
    }

    main form div label {
      font-size: 20px;
      line-height: 45px;
      width: auto;
      margin-top: 1rem;
    }
    .check {
    font-size: 15px;
    line-height: 20px;
  }
    }
    
