
.global {
    background-color: rgb(20, 83, 166);
}

.logo {
margin-left: 2rem;

}


.login-icon {
    width:2rem;
    height:2rem;
    margin-top: -2px;
    margin-left: 1rem;
    transition: all;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
}

.login-user {
    display: flex;
    justify-content:space-between;

    margin-top: 1rem;

    
}


.login-user, p { 

    color: #FFF6E2;
    font-size: medium;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.header-principal {
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;

    
}
header img {
    width: 5rem;
}

header h1 {
    color: #1A1918;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 1.2rem;

}


.summary {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-top: -10rem;
    padding-left: 5rem;
    padding-right: 5rem;

}
.bloco {
    background: #FFF6E2;
    padding: 1rem 2rem;  
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
strong {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 79px;
    text-align: center;
    color: #F26363;
}
.bloco-result{
background: #dce966;
}
.atividade span {
    font-size: 20px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.atividade {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 0rem 1rem 1rem;
    background-color: #FFF6E2;
    width: auto;
    height: auto;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.atividade-data {
    background-color:#ffffff;
    height: auto;
    width: 100px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
    text-align: center;


} 

.alimentacao span {
    font-size: 26px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.alimentacao {
    padding: 1rem;
    background-color: #FFF6E2;
    width: 180px;
    margin-bottom: 2rem;
}

.porcentagem {
    font-size: 6rem;
    color: #F59010;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

        
.dashboard{
    position: relative;
    max-width: 9999px;
    height: auto;
    margin: 0 auto;
    padding: 2.5rem 1rem;
    background-color: #96D9CC;
}

.tabela{
margin-top: 4rem;
width: 95%;
padding-left: 5rem;

}
table {
    width: 600px;
    border-spacing: 0 0.5rem;
    border: 0.12rem solid #eef;


 
}
thead tr{
    background-color: rgba(109, 106, 106, 0.089);
    border: 2px solid rgba(255, 255, 255, 0.49);
    box-sizing: border-box; 

}

tbody tr td{
    background-color: rgba(109, 106, 106, 0.089);
    border: 2px solid rgba(255, 255, 255, 0.49);
    box-sizing: border-box; 

}

thead tr th {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 36px;
    
    color: #484848;

}
th {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;

    padding: 0.8rem;
    
    color: #676565;

    border: 1px solid rgba(255, 255, 255, 0.49);
    box-sizing: border-box; 

}

tr {
   border: 1px solid rgba(255, 255, 255, 0.49);
    box-sizing: border-box; 
}

td {
    border: 1px solid rgba(255, 255, 255, 0.49);
     box-sizing: border-box; 
 }


.cicle {
    position: fixed;
    bottom: 2rem;
    width: auto;
    height: auto;
    border-radius: 5rem;
    text-align: center;
    cursor: pointer;
    transition: 1.5s;


}
.cicle img {
    width: 50px;
    padding: .5rem;
    opacity: 70%;
}

.cicle img:hover {
    opacity: 100%;
}

.cicle:hover{
    background-color: rgb(255, 255, 255);
}

 @media only screen and (max-width: 1400px){
    .summary {
        
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1rem;
            margin-top: -10rem;
            padding: 0;
         
    }

    .dashboard {
        height: auto;
        padding: 0.1rem 1rem;
    }
    .dashboard {
        width: auto;
    }
}
    
        
td {
    padding: 1rem 2rem;
    border: 0;
    background: var(--shape-table);
    color: #1A1918;
        }

.number {
    width: 20px;
}



  
@media only screen and (max-width: 700px){
    .logo {
        margin-left: 0rem;
        
        }
    .tabela {
        padding-left: 0.1rem;
    }
    .login-icon {
        margin-right: 0rem;
    }
    .dashboard {
        height: 1250px;
        padding: 0.1rem 1rem;
    }
    .dashboard {
        width: auto;
    }
    .summary {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        margin-top: -10rem;
        padding: 0;
     }
     .porcentagem {
         font-size: 3.5rem;
     }
     strong {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 3rem;
     }

     header img {
        width: 3rem;
    }

    .login-user, p {
    font-size: small;
    display: flex;
    justify-content:space-between;

    }

    .login-user, a {
        margin-right: 0.5rem;
        }

        .data {
            
        }
    }