
.global {
    background-color: rgb(20, 83, 166);
}

.logo {
    width: 80%;
}


h1, h2, h3 { 
    color: #FFF6E2;
    font-size: medium;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main article section span{
    font-weight: 400;
    font-size: medium;
    font-size: 2rem;
    color: #FFF6E2;

}

header {
    max-width: 1120px;
    margin: 0 auto;
    padding: 1rem 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;
    
}


header nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 1.2rem;

}
header nav div strong {
    color: #FFF8F8;
    font-size: small;
      
}
header nav div p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFF8F8;
}
header nav div p a {
    color: #FFF8F8;
    text-decoration: none;
}
header nav div p a:hover {
    color: #FFF8F8;
}
main article section h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;

    color: #FCFCFC;
}

article  {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20;
    flex-direction: column;
    margin-bottom: 20px;
}

.image-home {
    @media (min-width: 600px){
        margin: 0;
        width: 40vw;     
        height: 20vh;
        }
}
.image-home {
   margin-bottom: -10px;
}

.section-text {
    text-align: center;
    display: flex;
    flex-direction: column;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 98px;
    line-height: 115px;

    color: #FCFCFC;
}

.login {
    display: flex;
    justify-content:space-between;
    padding: auto;
}

.login-icon {
    width:2rem;
    height:2rem;
    margin-top: 5px;
}